body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;


}

header {
  background-color: yellow;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#mercadolibreimg {
  width: 100px;
  height: 80px;
  padding-top: 20px;
}

h1 {
  color: blue;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  width: 100%;
  text-align: center;

}

h2 {
  text-align: center;
  color: lightskyblue;
}

.container {
  display: grid;
  justify-content: center;
}

#botonIngreso {
  background-color: lightblue;

}

.container2 {
  margin-top: 50px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  gap: 10;



}

.logout {
  border: 1px solid red;
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 2px;

}


footer {
  background-color: yellow;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  width: 100%;

}

p .footer {
  font-size: 1.2rem;

}