.contenedor {
    width: 500px;
    height: 400px;
    background-color: #999999;
    border: 2px solid black;
    margin: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
    
}

.item {
    border: 2px solid black;
    font-size: 24px;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rojo{
    background-color: red;

}

#azul{
    background-color: blue;
}

#verde{
    background-color: green;
}