<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login Mercado Libre</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
</head>
<body>
    <header className="header">
            <img id="mercadolibreimg" src="../images/mercadolibre.png" width="50" alt="Logo"></img>
            <h1>Mercado Libre</h1>
     
     </header>
    {{{body}}}
    
    
    <footer>
          <p className="footer">Creado por Gabriel Caldubehere</p>
    </footer>
   
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.esm.min.js"></script>
    </body>
</html>