.nav {
    background-color: yellow;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

.ulnav {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;


}


a {
    text-decoration: none;
    color: black;

    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 3px;
}