* {
    background-color: lightgray;
    font-size: 1rem;
}

h1 {
    font-size: 32px;
    font-style: italic;
    text-align: center;
    color: blue;    
}

.Subtitulo {
    font-size: 24px;
    text-decoration-line: underline;
    font-weight: bold;
}

.Parrafo {
    font-size: 20px;
    color: violet;
    font-family: Arial, Helvetica, sans-serif ;
    background: linear-gradient(to bottom, rgb(176,212,227) 0%,rgb(136,186,207) 100%);

    

}

li {
    list-style: none;
    color: red;
}

#Formulario {
    color: firebrick;
    text-decoration-line: underline;
}

#Formulario:hover {
    color: blue;
}

#Imagen {
    box-shadow: 1px 1px 0px black;

}

.exclamacion {
    color: blueviolet;
}